<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>963890090356-bc3a07fel7t6cv2g45o4ggfgopndutmg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.963890090356-bc3a07fel7t6cv2g45o4ggfgopndutmg</string>
	<key>API_KEY</key>
	<string>AIzaSyDTpz_UG2XsIVh8PIy3MWhrpGOzLqyeYNA</string>
	<key>GCM_SENDER_ID</key>
	<string>963890090356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>th.co.fids</string>
	<key>PROJECT_ID</key>
	<string>fids-6cb7c</string>
	<key>STORAGE_BUCKET</key>
	<string>fids-6cb7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:963890090356:ios:a8b04583524e8118065c21</string>
</dict>
</plist>